- games && games.each do |game|
  - GamePresenter.new(game).tap do |presenter|
      h2
        = presenter.name
        i= presenter.total_score
      p
        =presenter.status
        i=presenter.last_updated_at
      table.scorecard callspacing="0" cellpadding="1"
        tbody==presenter.frames_table
