h1 The Bowling App 🎳
- flash.keys.each do |key|
  p class="flash-#{key}"= flash[key]


#current-game
  == slim :games, layout: false, locals: { games: @current_games }

- unless @current_games.any?
  form action='/create' method="post"
    button type='submit' Start New Game  🎮


h2 Past games 📺

== slim :games, layout: false, locals: { games: @past_games }