doctype html
html lang="en"
  head
    title Bowling Api
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href='/stylesheets/application.css'
  body
    #content
      == yield
    #footer
      | Copyright © 2021 Attila Dombi
  script src='/javascripts/jquery-3.6.0.min.js'
  script src='/javascripts/application.js'